#background {
  background-image: url(./illustration-blonde-anime-anime-girls-cartoon-comics-308703-wallhere.com.jpg);
  padding: 30px;
  object-fit: contain;
}
# #textarea {
  width: auto;
  opacity: 0.8;
  padding: 30px;
  height: 200px;
  background-color: black;
  color: white;
  text-align: center;
}
